<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
</head>
<body>
<h1>Book List</h1>
<table>
    <thead>
    <tr>
        <th th:text="Title" />
        <th th:text="Description" />
        <th th:text="ISBN" />
        <th th:text="Authors" />
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}" />
        <td th:text="${book.description}" />
        <td th:text="${book.isbn}" />
        <td>
            <ul th:each="author : ${book.authors}">
                <li th:text="${author.name}" />
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
